In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1 = pd.read_csv('all_maps_meta.csv', index_col=0)

In [12]:
df2 = pd.read_csv('all_maps_kgs.csv', index_col=0)

In [3]:
dff = pd.read_csv('maps_selected_kappa_equal_gamma.csv', index_col=0)

In [15]:
np.min(np.log10(df1.min_mag[df1.min_mag> 0.0]))

-2.3928702210848902

In [6]:
dfff = pd.merge(dff, df, on='ID')

In [14]:
df3 = pd.merge(df1, df2, on='ID')

In [16]:
remove_cols = [col for col in df3.columns if 'Unnamed' in col]
df3.drop(remove_cols, axis='columns', inplace=True)

In [17]:
df3.to_csv('all_maps_meta_kgs.csv')

In [14]:
remove_cols = [col for col in dff.columns if 'Unnamed' in col]
dff.drop(remove_cols, axis='columns', inplace=True)

In [16]:
dff.to_csv('maps_selected_kappa_equal_gamma.csv')

In [30]:
const = df['mag_avg']/df['ray_avg']
df['min_mag'] = np.abs(df['min']*const)
df['max_mag'] = np.abs(df['max']*const)

In [33]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,ID,min,max,mag_avg,ray_avg,min_mag,max_mag,const
count,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000,12342.000000
mean,6170.500000,6170.500000,36076.924323,80.490358,109409.644304,0.034991,456.726942,0.912756,632.691395,0.014280
std,3562.972846,3562.972846,15654.667755,77.362744,110617.102592,24.490653,24.757204,3.892780,2312.218899,0.052401
min,0.000000,0.000000,7073.000000,0.000000,575.000000,-434.094000,297.812000,0.000000,0.443196,0.000754
25%,3085.250000,3085.250000,23925.250000,34.000000,42628.500000,-1.853305,444.665250,0.072875,176.899848,0.001512
50%,6170.500000,6170.500000,43871.500000,53.000000,83974.000000,-0.687698,457.916000,0.163417,294.909553,0.003527
75%,9255.750000,9255.750000,46959.750000,89.000000,137520.000000,1.094840,469.458750,0.820860,534.983347,0.010013
max,12341.000000,12341.000000,50327.000000,352.000000,998878.000000,424.448000,575.809000,205.582041,126336.161160,0.871113

In [32]:
df['const'] = np.abs(df['mag_avg']/df['ray_avg'])

In [36]:
np.min(df['min_mag']+0.004)

0.004

In [35]:
np.min(np.log10(df['min']+0.004))

-2.3979400086720375

In [24]:
np.log10(np.min(df[df['min'] != 0]['min_mag']))

-2.3928702210848902

In [38]:
np.log10(np.max(df['max_mag'])+0.004)

5.101527690072907

In [39]:
df.to_csv('all_maps_meta.csv')